---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          {% if page.profile -%}
          <div class="row mb-sm-4">
            {%- if page.profile.image %}
            <div class="col-6 offset-1 col-sm-3 offset-sm-0">
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            </div>
            {% endif -%}
            {%- if page.profile.address %}
            <div class="w-100 d-block d-sm-none"></div>
            <div class="col offset-1 offset-sm-0 d-flex flex-column">
              <h1>{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}</h1>
              {{ page.profile.address }}
              {%- if page.social %}
              <!-- Social -->
              <div class="social mt-auto mb-2">
                <div class="contact-icons">
                {% include social.html %}
                </div>
              </div>
              {%- endif %}
            </div>
            {%- endif %}
          </div>
          {%- endif %}
        </header>

        <article>
          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news -%}
            <h2>News</a></h2>
            {%- include news.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2>Publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}
        </article>

</div>
